@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Seymour+One&display=swap');


@font-face {
    font-family: 'porter_sans_blockblock';
    src: url('/fonts/porter-sans-inline-block-webfont.woff') format('woff');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Krona One", sans-serif;
}



body {
    min-height: 100vh;
    font-family: "Krona One", sans-serif;
}

/* Definición de variables CSS (custom properties) en el selector :root para tener alcance global  */
:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;
    --bg-color: #003459;

    --type-normal: #a8a878;
    --type-fire: #F08030;
    --type-water: #6890f0;
    --type-grass: #78c850;
    --type-electric: #f8d030;
    --type-ice: #98d8d8;
    --type-fighting: #c03028;
    --type-poison: #A040A0;
    --type-ground: #e0c068;
    --type-flying: #a890f0;
    --type-psychic: #f85888;
    --type-bug: #a8b820;
    --type-rock: #b8a038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038f8;
    --type-steel: #b8b8d0;
    --type-fairy: #f0b6bc;
}

/** Definición de colores para cada tipo de pokemon**/
.btn.btn-header.ver-todos,
.ver-todos {
    background-color: var(--clr-gray);
    color: var(--clr-black);
}

.btn.btn-header.normal,
.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.btn.btn-header.fire,
.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

.btn.btn-header.water,
.water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

.btn.btn-header.grass,
.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}

.btn.btn-header.electric,
.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}

.btn.btn-header.ice,
.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}

.btn.btn-header.fighting,
.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.btn.btn-header.poison,
.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.btn.btn-header.ground,
.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}

.btn.btn-header.flying,
.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}

.btn.btn-header.psychic,
.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
}

.btn.btn-header.bug,
.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}

.btn.btn-header.rock,
.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}

.btn.btn-header.ghost,
.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

.btn.btn-header.dark,
.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}

.btn.btn-header.dragon,
.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.btn.btn-header.steel,
.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}

.btn.btn-header.fairy,
.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}



/** NavBar **/


div.icono div{
    display: flex;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

div.icono {
    display: flex;
    align-items: center;
    justify-content: end;
}

div.collapse {
    display: flex;
    justify-content: end;
}

p.logo-texto {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Seymour One", sans-serif;
    color: var(--clr-white);
}



nav.navbar {
    background-color: var(--bg-color);
    padding: 30px 10px;
}

a.nav-link {
    color: var(--clr-white);
    font-size: 16px;
}


a.nav-link:hover {
    color: var(--type-electric);
}


ul.navbar-nav li.nav-item {
    padding-right: 20px;
}


span iconify-icon,
button.navbar-toggler {
    color: white;
    border: none;
}


/* Imagen de fondo */


.fondo-img {
    background-image: url('/img/pokemonFondo1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    position: relative;
    /* El contenido está posicionado relativamente a este contenedor */
    display: flex;
}

.fondo-img::before {
    background: rgba(226, 253, 255, 0.5);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    text-align: center;
    padding: 0;
    margin: 0;
}

p.titulo,
p.descripcion {
    margin: 0;
    padding: 0;
}

.presentacion {
    border: 10px solid #003459;
    border-radius: 20px;
    padding: 20px;

}

p.titulo {
    font-size: 50px;
    font-family: "Seymour One", sans-serif;
}

p.descripcion {
    font-size: 24px;
    line-height: 28px;
    white-space: pre-line;
    max-width: 560px;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: justify;
}

.separador {
    height: 90px;
    width: 100%;
    background-color: var(--bg-color);
}

/** Contenido principal **/
main {
    background-image: url('/img/pokemonIcon.png');
    background-repeat: repeat;
    background-size: 50px 50px; 
}

section.contenido-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: rgba(215, 251, 253, 0.8);
}


div.inicio {
    color: #007EA7;

}

.info-texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

div.info-texto>h2 {
    font-family: 'porter_sans_blockblock', sans-serif;
    text-align: center;
    font-size: 40px;
    flex-wrap: wrap;
}

.carrusel {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}


.carousel-caption p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    text-shadow: 2px 2px 5px rgba(146, 153, 168, 0.6);
}

img.imagen {
    width: 100%;
}

.texo-aventura {
    font-size: 25px;
    color: #00A7E1;
    text-align: center;

}

.texo-aventura p {
    margin: 0;
}

/** Sección para la tabla **/

.contenedor-tabla {
    display: flex;
    justify-content: center;
}

.tabla {
    color: var(--clr-white);
    background-image: radial-gradient(circle, rgb(0, 126, 167) 30%, rgb(0 52 89/ 100%) 90%);
}





div.icono-texto {
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 20px;
    justify-content: start;
    
}
div.icono-texto span{
    margin-inline-start: 5px;
}


.icono-circulo {
    border-radius: 50%;
    padding: 5px;
    border: #1c1c1c 1px solid;
    vertical-align: middle;
    /* padding:5px; */
    /* margin: 3px; */
    
}

table {
    table-layout: fixed;
    /* Fija el layout de la tabla */
    width: 100%;
    border-radius: 10px;
}

th {
    text-align: center;
    font-size: 20px;
    padding-block: 15px;

}

td,
th {
    border-left: white solid 1px;
}

td div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

td{
    padding: 2px;
}


tr {
    border-top: #ffffff 1px solid;
}

tr:hover {
    background-color: rgba(207, 207, 207, 0.3);
}


/** Separador de sección */
.separador-seccion {
    height: 10px;
    background-color: var(--bg-color);
    margin-block: 30px;
}

/** Sección buscador por nombre o id */
div.seccion-buscador h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-bottom: 20px;
}

.contenedor-buscador{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    
}

div.buscador-contenido > h2 {
    color: #00A7E1;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.contenedor-buscador > .buscador{
    padding: 30px 0;
}

.buscador {
    background-color: #00171F;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.buscador-contenido{
    align-content: center;
}

.contenedor-buscador .label {
    color: #00A7E1;
    margin: 0;
    font-size: 15px;
    text-align: justify;
}

.seccion-buscador p.label {
    color: #00A7E1;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
.info {
    color: var(--clr-white);
}

.contenedor-buscador .info {
    color: var(--clr-white);
    font-size:15px;
    text-align: justify;
    margin: 0;
}

form {
    margin: 15px auto;
}

button.btn.btn-buscar {
    background-color: #00A7E1;
    color: white;
    display: flex;
}

iconify-icon {
    font-size: 30px;
    padding: 0;
    margin: 0;
    align-items: center;
}


/** Card **/

div.contenedor-card, div.contenedor-tarjeta {
    display: flex;
}

div.contenedor-cards {
    width: 100%;
    display: flex;
}

.contenedor-tarjeta .pokemon-todos {
    margin-top: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100vw;

}

.contenedor-tarjeta .contenedor-card {
    padding: 0;
    padding-left: 20px;
}

.pokemon-todos {
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100vw;
    /* column-gap: 10px; */

}

div.contenedor-card {
    display: flex;
    flex-direction: column;
    padding: 6px;
}

div.card {
    background-color: #00171F;
    padding: 13px;
    /* margin-inline: 5px; */
    transition: transform 0.2s;
    border-radius: 20px;
    align-self: center;
    height: 100%;
}

div.card a {
    text-decoration: none;
}

div.card:hover {
    transform: scale(1.03);
}

div.card-body {
    padding: 0px;
    padding-block: 10px;
}

.pokemon-id {
    color: #ABDAFC;
    margin: 0;
    font-size: 12px;
}


h2.pokemon-nombre {
    text-transform: capitalize;
    color: var(--clr-white);
    margin: 0;
    padding-block:5px;
    font-size: 18px;
    font-family: "Krona One", sans-serif;

}

.pokemon-image {
    background-color: #BFD7FF;
}

.pokemon-image img {
    width: 100%;
}


.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo {
    margin: 0;
    text-transform: uppercase;
    padding: 1px .5rem;
    border-radius: 100vmax;
    font-weight: 600;
}


/** Sección buscador por tipos **/

.contenedor-botones {
    margin-top: 15px;
}

.lista {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.btn-header {
    font-size: 12px;
    border-radius: 20px;
    transition: 0.2s;
    text-transform: uppercase;
}

.btn.btn-header:hover {
    transform: scale(1.1);
}

/** MODAL **/

.modal{
    align-content: center;
}

div.modal-dialog{
    margin: auto;
}

div.modal-header {
    padding: 10px 15px;
    font-size: 10px;
    text-align: center;
    justify-content: center;
}

div.modal-header button.btn-close{
    padding: 15px;
}

.modal-title {
    font-size: 18px;
    color: #003459;
}

div.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.modal-body p {
    margin: 0;
    text-align: justify;
    padding-bottom: 10px;
}

div.modal-body div {
    display: flex;
    justify-content: center;
    text-align: center;
}

div.modal-body div button {
    background-color: #007EA7;
}

/** Spinner de carga **/


.contenedor-spinner{
    align-items: center;
    justify-content: center;
}

.spinner-carga{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-spinner strong{
    font-size: 20px;
    color: #46b5da;
}

.spinner-border{
    display: flex;
    justify-content: center;
    color: #46b5da;
}

.seccion-buscador + .contenedor-spinner{
    padding-block: 25px;
}


/** Detalles **/
section.contenedor-botones{
    margin: 0;
}

/**  **/

div ul {
    list-style: none;
}

div.info-acciones ul{
    list-style: square;
    margin: 0;
}

div.info-acciones{
    display:none;
}

/** Footer **/
footer{
    height: 120px;
    width: 100%;
    background-color: var(--bg-color);
}

/* Responsividad */


@media (max-width: 1115px) {
    iconify-icon {
        font-size: 20px;
    }

    div.buscador-contenido > h2 {
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    form{
        margin-block: 8px;
        
    }

    .contenedor-buscador .label, .contenedor-buscador .info, .contenedor-buscador input.form-control {
        font-size: 13px;
        line-height: 17px;
    }
    
    .contenedor-spinner strong{
        font-size: 18px;
    }
    
    .spinner-icono .spinner-border{
        width: 25px;
        height: 25px;
    }

}

@media (max-width: 1070px) {
    div.buscador-contenido > h2 {
        font-size: 16px;
    }
    .contenedor-buscador .label, .contenedor-buscador .info, .contenedor-buscador input.form-control {
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 992px) {
    div.collapse {
        display: flex;
        justify-content: start;
    }

    div.carousel-caption p{
        font-size: 14px;
    }

    div.texo-aventura > p{
        font-size: 20px;
        line-height: 23px;
    }

    .contenedor-spinner strong{
        font-size: 16px;
    }
    
    .spinner-icono .spinner-border{
        width: 20px;
        height: 20px;
    }



}


@media (max-width: 800px) {
    nav.navbar{
        padding: 25px 10px;
    }

    li.nav-item a.nav-link{
        font-size: 14px;
        padding-block: 5px;
    }

    div.icono div{
        display: flex;
        width: 40px;
        height: 40px;
    }
    p.logo-texto{
        font-size: 25px;
    }

    div.presentacion{
        border-width: 5px ;
        padding-block: 10px;
    }
    p.titulo {
        font-size: 30px;
    }

    p.descripcion{
        font-size: 16px;
        line-height: 20px;
        max-width: 400px;
    }

    .fondo-img{
            max-height: 400px;
    }
    
    div.carousel-caption p{
        font-size: 12px;
    }

    div.texo-aventura p{
        font-size: 18px;
    }

    .separador, footer{
        height: 80px;
    }

    div.info-texto > h2{
        font-size:30px;
    }

    div.info-texto > p,ul{
        font-size: 14px;
    }

    div.info-acciones{
        display:block;
    }

    div.carousel-caption > p{
        display: none;
    }

    th {
        font-size: 13px;
        /* padding: 5px 3px; */
    }

    td span{
        font-size: 12px;
    }

    iconify-icon.icono-circulo{
        padding: 3px;
    }

    .separador-seccion{
        margin-block:25px ;
    }

    div.seccion-buscador h2{
        font-size: 25px;
        padding-bottom: 15px;
    }

    .buscador{
        padding-block: 30px;
    }

    input.form-control{
        font-size: 15px;
    }
    .seccion-buscador .buscador .buscador-contenido .label{
        font-size:16px;
        line-height: 20px;
    }

    p.info{
        font-size:14px;
        margin: 0;
    }

    button.btn-header{
        font-size: 11px;
        padding: 4px 8px;
    }
    

    div.modal-dialog{
        max-width: 400px;
    }

    div.modal-header h5{
        font-size: 16px;
    }

    div.modal-body p,  div.modal-body div button{
        font-size: 14px;
    }

    div.modal-body div button{
        padding: 3px 6px;
    }

}

@media (max-width:600px) {

    nav.navbar{
        padding: 15px 10px;
    }

    div.icono div{
        display: flex;
        width: 30px;
        height: 30px;
    }
    p.logo-texto{
        font-size: 20px;
    }

    li.nav-item a.nav-link{
        font-size: 12px;
        padding-block: 4px;
    }

    div.presentacion{
        border-width: 5px ;
        padding-block: 10px;
    }
    p.titulo {
        font-size: 18px;
    }

    p.descripcion{
        font-size: 12px;
        line-height: 14px;
        max-width: 200px;
        padding: 0;
    }

    .icono-texto span {
        font-size: 10px;
        padding: 0;
    }
    
    .fondo-img{
        max-height: 300px;
        width: 100%;
    }

    .separador{
            height: 50px;
        }
    
    section.contenido-principal{
        padding-block: 40px;
    }

    div.info-texto > h2{
        font-size: 20px;
    }

    div.info-texto > p, ul{
        font-size: 12px;
    }

    

    main {
        background-size: 40px 40px; 
    }

    p.texto{
        margin-block-end: 10px;
    }

    div.carrusel{
        margin-block: 10px;
    }

    div.texo-aventura > p{
        font-size: 16px;
        line-height: 19px;
    }

    .separador-seccion{
        margin-block:20px ;
    }

    div.seccion-buscador h2, div.contenedor-buscador h2{
        font-size: 18px;
    }
    .seccion-buscador .buscador .buscador-contenido .label{
        font-size:13px;
        line-height: 16px;
    }

    .buscador{
        padding-block: 20px;
    }

    input.form-control{
        font-size: 12px;
    }

    button.btn-header{
        font-size: 9px;
        padding: 3px 6px;
    }

    p.info{
        font-size:12px;
        margin: 0;
    }

    th {
        font-size: 11px;
        padding: 6px 3px;
    }

    div.icono-texto {
        padding: 0;
        padding-inline-start: 3px;
        /* justify-content: center; */
    }

    div.icono-texto span{
        font-size: 10px;
    }

    iconify-icon.icono-circulo {
        font-size: 12px;
        padding: 3px;
        margin: 2px;
    }

    .btn-header {
        font-size: 8px;
        border-radius: 20px;
        transition: 0.2s;
        text-transform: uppercase;
        padding: 2px 3px;
    }
    .lista {
        gap:5px;  
    }

    footer{
        height: 60px;
    }
    
    

    div.modal-dialog{
        max-width: 300px;
    }



    div.modal-header h5{
        font-size: 14px;
    }

    div.modal-body p,  div.modal-body div button{
        font-size: 12px;
    }

    div.modal-body{
        padding: 10px;
    }
}

@media (max-width:575px) {
    .contenedor-tarjeta .contenedor-card{
        padding: 0;
        padding-top: 20px;
    }

    .contenedor-buscador .contenedor-spinner{
        padding-block: 15px;
    }
}

@media (max-width:450px) {
    div.presentacion{
        padding: 10px 5px;
    }

    p.titulo {
        font-size: 14px;
    }

    p.descripcion{
        font-size: 10px;
        line-height: 12px;
        max-width: 150px;
    }

    .fondo-img{
        max-height: 200px;
        width: 100%;
    }

    main {
        background-size: 30px 30px; 
    }

    section.contenido-principal{
        padding-block: 30px;
    }

    .separador-seccion{
        margin-block:15px ;
    }

    

    td{
        padding: 2px;
    }

    iconify-icon.icono-circulo{
        padding: 2px;
        margin: 0;

    }

    button.btn-header{
        padding: 2px 4px;
        font-size: 8px;
    }

    .lista {
        gap:4px;  
    }

    div.modal-dialog{
        max-width: 250px;
    }

    div.modal-header{
        font-size: 12px;
    }



    div.modal-body, div.modal-header{
        padding: 8px 10px;
    }

    div.modal-body p,  div.modal-body div button{
        font-size: 10px;
        line-height: 13px;
    }

    div.modal-body div button{
        padding: 3px 5px;
    }
}

